body {
    margin: 0;
}
main {
    padding: 16px;
}
nav {
    border: 1px black;
    padding: 16px;
}
.food-pic {
    height: 200px;
}
footer {
    padding: 24px 0px;
}
h3 {
    color: #62d97f;
}
h1 {
    color:#419155;
}
header {
    background-color: #c98a14;
}
header a {
    color: white;
}
footer {
    background-color: #72db74;
    font-size: 20px;
    padding: 40px;
}
.layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
a {
    text-decoration: none;
}
tbody tr:nth-child(even) {
    background-color: hsl(126, 3%, 75%, 0.5);
}
